* {
    margin: 0;
}

html,
body {
    background: blue;
}

.circle {
    border-radius: 50%;
}

.outside {
    background: #222222;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.inside {
    background: black;
    position: absolute;
    top: 30%;
    left: 30%;
    border: 1px solid black;
    display: table;
}

.text {
    color: purple;
    font-size:20px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    word-wrap: break-word;
    display: table-cell;
}
h1{
    text-align: center;

}

